.formulario{
    display: flex;
    justify-content: center;
    margin: 80px 0;
    text-align: center;
}

.formulario form {
    width: 70%;
    background-color:  white;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

@media only screen and (max-width: 1023px){
    .formulario form {
        padding: 18px 36px;
    } 

    .formulario{
        margin: 40px 0;
    }
}