.campo-texto{
    margin: 24px 0;
    text-align: center;
}

.campo-texto label {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
}

.campo-texto input {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 80%;
    border: 0.5px solid #02131B;;
    font-size: 16px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 20px;
}

::placeholder{
    text-align: center;
    font-family: 'Graduate', cursive;
}

@media only screen and (max-width: 1023px){
    .campo-texto{
        margin: 16px 0;
    }
    
    .campo-texto label {
        font-size: 16px;
    }
    
    .campo-texto input {
        width: 100%;
        border: 0px;
        padding: 16px;
    }

}