*
{
    margin: 0;
}

html, body
{
height: 100%;
}

body {
  font-family: 'Graduate', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}